.signup-container .btn-create-user {
    margin-bottom: 50px;
}
.signup-form-container {
    background: #fff;
    clear: left;
    width: 400px;
    margin: 0 auto;
    float: none;
}
.signup-container .signin {
    text-align: center;

}
.signup-form-container img {
    margin-bottom: 25px;
}

.signup-form-container .button-container {
    margin-top: 25px;
}
.signup-form-container .button-container .btn {
    width: 100%;

}
.forgot-password a {
    color: #B5B5B5;
}
@media(max-width: 480px) {

    .signup-form-container {
        width: 100%;
    }
}