<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:cctd="http://www.constantcontact.com/cctd">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>Password Recovery</title>
</head>

<body class="mail" style="background: #f2f2f2; color: #000000; font-family:'Arial', Helvetica, sans-serif; font-size: 13px; margin: 0; padding: 0; border-top: 0px solid #000000;">

    <h1>PASSWORD RECOVERY</h1>

    <h3>Reset your Password</h3>

    <p></p>

    <p>You have requested to have your password reset for your Account. <br> Please visit this url to reset your password:
        <a href="{{url}}" style="font-size:14px;text-decoration: none;color: #005a8a;cursor: pointer">{{url}}</a>
    </p>

    <p></p>

    <p>If you didn't make this request, you can ignore this email.</p>

    <p></p>

    <p>The {{appName}} Support Team</p>

</body>
</html>
